*{
       margin: 0;
       padding: 0;

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 97vh;
  background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  border: 0.5rem rgb(0, 0, 0) solid;
}
.outerDiv{
       height: 60vh;
       width: 60vh;
       background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
       border: 10px rgb(31, 30, 30) solid;
}
.inputDiv{
       display: flex;
       flex-direction: column;
       gap: 0.4rem;
       align-items: center;
       justify-content: center;
       margin-top: 1rem;
}

.inputDiv:hover input {
    border-color: red;
}

.inputDiv input {
    transition: 0.3s;
}

.inputDiv input:focus {
    border-color: lime;
    outline: none;
}

.innerDiv{
       display: flex;
       align-items: center;
       justify-content: space-between;
       height: 30vh;
       width: 55vh;
       margin: 0 1rem  0 1rem;
}
.symb{
       font-size: 3rem;
       color: rgb(6, 5, 5);
}
.outputDiv{
       text-align: center;
       color: rgb(237, 8, 8);
}

img{
       border: 2px rgb(1, 1, 1) solid;
       max-width: 3rem;
}
select{
       cursor: pointer;
}
.headingDiv{
       text-align: center;
       color: rgb(167, 30, 30);
}
.buttonDiv{
       margin-top: 2rem;
       display: flex;
       justify-content: center;
}


.buttonDiv button{
       height: 2rem;
       color: rgb(255, 255, 255);
       border-radius: 10%;
       cursor: pointer;
       border: 4px rgb(1, 1, 1) solid;
       background-color: rgb(136, 129, 129);
}

.buttonDiv button:hover{
       border: 2px solid red;
       color:rgb(128, 17, 45)
}

.inputDiv input{
       text-align: center;
       border-radius: 5%;
       font-size: medium;
       color: brown;
}